<%- include ("topo") %>
<p><b>Navegue por Livros, Filmes Antigos, e Séries</b></p>
<p><b>Escritor ou Produtor? Cadastre-se Já!</b></p>
<p><b>Você será redirecionado ao clicar abaixo:</b></p>

<a href="/busca">Navegar</a>

<a href="/cadastro">Cadastrar</a>

<%- include("rodape") %>