<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        footer {
            background-color: #3498db; /* Azul mais claro */
            padding: 20px;
            color: #fff; /* Texto branco */
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
            border-top: 2px solid #2980b9; /* Azul mais escuro */
        }

        .copyright {
            background-color: #2980b9; /* Azul mais escuro */
            padding: 10px;
            color: #fff;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <!-- Conteúdo principal da sua página EJS aqui -->

    <!-- Rodapé -->
    <footer>
        <div class="copyright">
            © Site criado por Ana e Caio. 2023
        </div>
    </footer>
</body>
</html>

