<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        header {
            background-color: #3498db; /* Azul mais claro */
            padding: 20px;
            color: #fff; /* Texto branco */
            text-align: center;
            border-bottom: 2px solid #2980b9; /* Azul mais escuro */
        }
    </style>
</head>
<body>
    <!-- Topo -->
    <header>
        <h1>Midiateca Nexus</h1>
    </header>

    <!-- Conteúdo principal da sua página EJS aqui -->
</body>
</html>
